DEBUG=on
SECRET_KEY=your-secret-key

DB_NAME=postgresDB
DB_USER=postgresUser
DB_PASSWORD=postgresPW
DB_HOST=localhost
DB_PORT=5455

ALLOWED_HOSTS=127.0.0.1,localhost
# needed only for DEBUG
INTERNAL_IPS=127.0.0.1
