.extra-row > td > div {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    overflow-wrap: break-word;
}

.extra-row  {
    visibility: collapse;
    transition: all 0.3s ease-in-out;
}

.show {
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.show > td > div {
    max-height: 500px;
}

.main-row {
    cursor: pointer;
}
