{% extends 'dashboard/index.html' %}
{% load bootstrap5 %}

{% block dashboard_header %}
    <h2 class="text-left mt-5">OpenAI Keys Management - delete keys</h2>
{% endblock dashboard_header %}

{% block dashboard_content %}
    {% url 'dashboard:openaikeys' as openaikeys_list %}

    <p class="h5">Are you sure you want to delete the OpenAIKey: {{ openaikey.key }}</p>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container d-flex">
            <input type="submit" class="btn btn-primary" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger" style="margin-top: 30px;"
                   onclick="window.location='{{ openaikeys_list }}'; return false;" value="Cancel">
        </div>
    </form>
{% endblock dashboard_content %}