{% extends 'dashboard/index.html' %}
{% load static %}
{% load bootstrap5 %}

{% block bootstrap5_extra_head %}
    {{ block.super }}
    <link href="{% static 'css/fontawesomefree/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/fontawesomefree/solid.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block dashboard_header %}
    <div class="header-container">
        <h2 class="text-left mt-5" style="display: inline-block; margin-right: 5px;">Pipelines</h2>
        <a href="{% url 'dashboard:pipeline_execute' %}" style="display: inline-block;">Execute</a>
    </div>
{% endblock dashboard_header %}

{% block dashboard_content %}
    <div class="p-5 bg-light rounded-3">
        <div class="tab-pane fade show active ">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Body</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Date created</th>
                    <th scope="col">Date updated</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% if object_list %}
                    {% for pipeline in object_list %}
                        <tr>
                            <td>{{ pipeline.id }}</td>
                            <td>{{ pipeline.name }}</td>
                            <td><pre style="width: 510px; font-size: 11px;">{{ pipeline.body }}</pre></td>
                            <td>
                                {% for tag in pipeline.tags.all %}
                                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                {% endfor %}
                            </td>
                            <td>{{ pipeline.date_created|date:'m-d-Y H:i:s' }}</td>
                            <td>{{ pipeline.date_updated|date:'m-d-Y H:i:s' }}</td>
                            <td><a href="{% url 'dashboard:pipeline_update' pipeline.pk %}">Update</a></td>
                            <td><a href="{% url 'dashboard:pipeline_delete' pipeline.pk %}">Delete</a></td>
                            <td>
                                <a href="{% url 'dashboard:pipeline_execute' pipeline.pk %}" title="Execute">
                                    <i class="fa-sharp fa-regular fa-play" style="color: green;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            <div class="d-flex ">
                <a href="{% url 'dashboard:pipeline_create' %}" class="d-block btn btn-primary my-2">Add new</a>
            </div>
        </div>
    </div>
{% endblock dashboard_content %}