{% extends 'dashboard/index.html' %}
{% load bootstrap5 %}

{% block dashboard_header %}
    <h2 class="text-left mt-5">OpenAI Keys Management - add keys</h2>
{% endblock dashboard_header %}

{% block dashboard_content %}
    <form role="form" method="post" action="{% url 'dashboard:openaikeys_create' %}">
        {% csrf_token %}
        {% bootstrap_form form form_group_class='row mb-3' label_class='col-sm-2 col-form-label' field_class='col-sm-10' %}

        <div class="container d-flex ps-0">
            <input type="submit" class="btn btn-primary me-4 mt-4" value="Submit">
            <input type="submit" class="btn btn-danger mt-4"
                   onclick="window.location='{% url 'dashboard:apikeys' %}'; return false;" value="Cancel">
        </div>
    </form>
{% endblock dashboard_content %}
